{% extends "layout/layout.html" %}
{% from "macro/render_if_error.html" import render_if_error with context %}
{% from "macro/form.html" import fetch_form_input_value with context %}
{% block title %}Login{% endblock %}
{% block page_content %}
<div class="d-flex justify-content-center align-items-center h-100 bg-whitesmoke">
    <div class="login-container shadow-sm">
        <form action="/login" method="post">
            <h1 class="display-1 fw-light text-center mb-3">Login</h1>
            {% call render_if_error() %}
            <div class="alert alert-danger alert-dismissible d-flex align-items-center mb-3 fade show">
                <i class="bi bi-exclamation-triangle-fill"></i>
                <div>{{ error.message }}</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {% endcall %}
            <div class="form-floating mb-3">
                <input type="text"
                       class="form-control{% call render_if_error('username_input') %} is-invalid{% endcall %}"
                       name="username" id="username_input" value="{{ fetch_form_input_value('username_input') }}"
                       placeholder="Username">
                <label for="username_input"><i class="bi bi-person-fill"></i> Username</label>
                {% call render_if_error("username_input") %}
                <div class="invalid-feedback">{{ error.message }}</div>
                {% endcall %}
            </div>
            <div class="form-floating mb-3">
                <input type="password"
                       class="form-control{% call render_if_error('password_input') %} is-invalid{% endcall %}"
                       name="password" id="password_input" value="{{ fetch_form_input_value('password_input') }}"
                       placeholder="Password">
                <label for="password_input"><i class="bi bi-lock-fill"></i> Password</label>
                {% call render_if_error("password_input") %}
                <div class="invalid-feedback">{{ error.message }}</div>
                {% endcall %}
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>
{% endblock %}
