{% extends "layout/layout.html" %}
{% from "macro/render_if_error.html" import render_if_error with context %}
{% from "macro/form.html" import fetch_form_input_value, generate_csrf_field with context %}
{% block title %}Reply to message chain{% endblock %}
{% block page_content %}
<div class="d-flex justify-content-center align-items-center h-100 bg-whitesmoke">
    <div class="floating-container p-2 rounded border bg-white">
        <div class="mb-2 text-center">
            <h1 class="mb-0 fw-light">Reply to message chain</h1>
        </div>
        <form action="{% if not replied_message_id %}{{ url_for('reply_to_message_chain_submit_route', message_chain_id=message_chain_id) }}{% else %}{{ url_for('reply_to_message_chain_submit_route', message_chain_id=message_chain_id, replied_message_id=replied_message_id) }}{% endif %}"
              method="post">
            {{ generate_csrf_field() }}
            <div class="mb-3">
                <label for="content_input">Message content</label>
                <textarea class="form-control{% call render_if_error('content_input') %} is-invalid{% endcall %}"
                          name="content" id="content_input" placeholder="Message content">
                    {{ fetch_form_input_value("content_input") }}
                </textarea>
                {% call render_if_error("content_input") %}
                <div class="invalid-feedback">{{ error.message }}</div>
                {% endcall %}
            </div>
            <div class="d-flex">
                <button type="submit" class="btn btn-primary">Reply</button>
                <a href="{{ url_for('view_message_chain_route', message_chain_id=message_chain_id) }}"
                   class="btn btn-danger ms-1">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
