{% extends "layout/layout.html" %}
{% from "macro/render_if_user_has_sufficient_credentials.html" import render_if_user_has_sufficient_credentials with context %}
{% block title %}{{ message_chain.name }}{% endblock %}
{% block page_content %}
<div class="h-100 pt-4 bg-whitesmoke">
    <div class="container d-flex flex-column h-100 pb-1 border border-bottom-0 bg-white">
        <div class="row py-1 mb-1 border-bottom">
            <h1 class="mb-0 fw-light">{{ message_chain.name }}</h1>
        </div>
        <div class="d-flex justify-content-end mt-1 mb-2">
            <a href="{{ url_for('reply_to_message_chain_route', message_chain_id=message_chain.entity_id) }}"
               class="btn btn-success">Reply to message chain</a>
        </div>
        {% if messages.values()|length > 0 %}
        <div>
            {% for message in messages.values() %}
            <div id="{{ message.entity_id }}" class="p-1 mb-1 rounded border">
                <p class="fw-bold">{{ users[message.user_entity_id].username }}</p>
                {% if message.replied_message_entity_id %}
                <div class="d-flex flex-wrap">
                    <p class="me-1">Replying to:</p>
                    {% if message.replied_message_entity_id in messages %}
                    <a href="#{{ message.replied_message_entity_id }}" class="text-decoration-none">
                        {{ users[messages[message.replied_message_entity_id].user_entity_id].username }}
                    </a>
                    {% else %}
                    <p class="fw-bold text-muted">A deleted message</p>
                    {% endif %}
                </div>
                {% endif %}
                <p>{{ message.content }}</p>
                <div class="d-flex flex-wrap">
                    {% call render_if_user_has_sufficient_credentials(message.user_entity_id, false) %}
                    <a href="{{ url_for('edit_message_route', message_id=message.entity_id) }}"
                       class="text-decoration-none link-secondary"><i class="bi bi-pencil"></i> Edit</a>
                    {% endcall %}
                    {% call render_if_user_has_sufficient_credentials(message.user_entity_id) %}
                    <form action="{{ url_for('delete_message_route', message_id=message.entity_id) }}" method="post"
                          class="d-inline mx-1">
                        <button type="submit"
                                class="btn btn-link p-0 border-0 align-top text-decoration-none link-secondary">
                            <i class="bi bi-trash"></i> Delete
                        </button>
                    </form>
                    {% endcall %}
                    <a href="{{ url_for('reply_to_message_chain_route', message_chain_id=message_chain.entity_id, replied_message_id=message.entity_id) }}"
                       class="text-decoration-none link-secondary"><i class="bi bi-reply"></i> Reply</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-end mt-1">
            <a href="{{ url_for('reply_to_message_chain_route', message_chain_id=message_chain.entity_id) }}"
               class="btn btn-success">Reply to message chain</a>
        </div>
        {% else %}
        <div class="flex-fill d-flex justify-content-center align-items-center text-muted">
            <h3 class="fw-light">
                <i class="bi bi-exclamation-circle"></i> It seems like there are no messages available
            </h3>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
