body {
    padding-top: 56px;
}

.floating-container {
    width: 500px;
}

.topic-link {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity)) !important;
}

.topic-link:hover {
    background-color: #0b5ed7 !important;
}

.name-filter-tag-container {
    min-width: 0;
}

.name-filter-tag-container p:first-child {
    margin-top: 2px;
}

.name-filter-tag {
    height: 30px;
    min-width: 0;
}

.name-filter-tag span:first-child {
    margin-bottom: 3px;
}

@media only screen and (max-width: 500px) {
    .floating-container {
        width: 100%;
    }
}

.mx-n1 {
    margin-left: -0.25rem !important;
    margin-right: -0.25rem !important;
}

@media only screen and (min-width: 576px) {
    .text-sm-nowrap {
        white-space: nowrap;
    }
}

.bg-whitesmoke {
    background-color: #f5f5f5 !important;
}
