{% from "macro/header.html" import activate_link_if_route_is with context %}
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home_route') }}">Message board</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_content">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar_content">
            {% if session.logged_in_user %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link{{ activate_link_if_route_is('home_route') }}" href="{{ url_for('home_route') }}">Home</a>
                </li>
                {% if session.logged_in_user.is_administrator %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle{{ activate_link_if_route_is('admin_topic_list_route', 'admin_create_new_topic_route', 'admin_create_new_topic_submit_route', 'admin_edit_topic_route', 'admin_edit_topic_submit_route') }}"
                       href="#" role="button" data-bs-toggle="dropdown">Admin</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item{{ activate_link_if_route_is('admin_topic_list_route') }}"
                               href="{{ url_for('admin_topic_list_route') }}">Manage topics</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            {% endif %}
            <ul class="navbar-nav ms-auto">
                {% if session.logged_in_user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-person-fill"></i> {{ session.logged_in_user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ url_for('logout_route') }}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link{{ activate_link_if_route_is('login_route', 'login_submit_route') }}"
                       href="{{ url_for('login_route') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{ activate_link_if_route_is('register_route', 'register_submit_route') }}"
                       href="{{ url_for('register_route') }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
